.header-content{
    height: 300px;
}

.header-menu{
    padding: 30px;
    height: 50px;
    text-align: right;
}

.header-content-box{
    background-color: #4d525b;
}

.header-title{
    height:100px;
    color: white;
    text-align: center;
}