.header-content{
    height: 400px;
}

.header-menu{
    padding: 30px;
    height: 80px;
    text-align: right;
}

.header-content-box{
    background-color: #42d9f4;
}

.header-title{
    height:150px;
    text-align: center;
}