<nav class="navbar navbar-light nav-bg bg-faded">
    <a routerLink="/">
        <img src="https://www.shareicon.net/download/2015/09/16/101812_home_512x512.png" alt="" width="40px" height="40px">
    </a>
    <div class="col-md-8">
        <div class="nav-link" href="#">マネージメントページ</div>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="検索">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>